<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
	<tr><td>16 October</td><td>11:30 - 13:00 </td> <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data organization in spreadsheets</a></td></tr>
	<tr><td>23 October</td><td>11:30 - 13:00 </td> <td> <a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">Cleaning Data with OpenRefine</a></td></tr>
	<tr><td>30 October</td><td>11:30 - 13:00 </td> <td> <a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R (Intro)</a></td></tr>
	<tr><td>7 November</td><td>11:30 - 13:00 </td> <td> <a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R (Starting with Data)</a></td></tr>
	<tr><td>13 November</td><td>11:30 - 13:00 </td> <td> <a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R (Data Manipulation)</a></td></tr>
	<tr><td>20 November</td><td>11:30 - 13:00 </td> <td> <a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R (Data Visualisation)</a></td></tr>
	<tr><td>27 November</td><td>11:30 - 13:00 </td> <td> Debrief with instructors and participants</td></tr>

    </table>
  </div>

</div>
